@import url("https://fonts.googleapis.com/css?family=Open+Sans");

body
{
  font-family: "Open Sans";
  font-size: 1.5em;
}
header
{
  height: 200px;
  width: 600px; 
  margin-left:50px;
  text-shadow: 10px;
  text-align: center;
  background-color: #e8f6f9;
}
nav a, nav a:visited
{
  color: black;
  text-decoration: none;
}
.opcion
{
  display: inline-block;
  position: relative;
  top: 0;
  background-color: #cceeff;
  min-width: 100px;
  text-align: center;
}
.opcion:hover, .despliegue:hover
{
  font-weight: bold;
  background-color: #80d4ff;
}
.menu
{
  display: none;
  background-color: #cceeff;
    z-index: 1;
}
.opcion:hover .menu
{
  display: block;
  position: absolute;
  min-width: 100px;
  text-align: center;
}
